*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #181818;
    padding: 24px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.d-flex{
    display: flex;
}
header .container{
    justify-content: space-between;
    align-items: center;
}
header nav a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
header nav li{
    margin-left: 32px;
    transition: 0.4s;
}
header nav li:hover{
    transform: scale(1.2);
}
header nav li:first-of-type a{
    font-size: 13px;
}
header nav li:first-of-type{
    margin-right: 24px;
}
header nav li:last-of-type a{
    background: #FFFFFF;
    border-radius: 14px;
    color: #000000;
    padding: 11px 20px;
}
/*main-banner*/
.main-banner{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: 90vh;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
}
.main-banner .container{
    max-width: 580px;
    text-align: center;
    margin: inherit;
}
.main-banner h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 1px;
}
.main-banner h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.main-banner p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.what-we-do{
    padding-top: 113px;
    padding-bottom: 100px;
    background-color: #000000;
}
.what-we-do .container{
    max-width: 1168px;
}
.what-we-do h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what-we-do h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}
.d-flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.what-we-do .d-flex-container article{
    max-width: 576px;
    position: relative;
    max-height: 600px;
    overflow: hidden;
    margin-bottom: 16px;
}
.what-we-do .d-flex-container article img{
    display: block;
    width: 100%;
}
.what-we-do .d-flex-container article .description{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px 45px 30px 30px;
    box-sizing: border-box;
}
.what-we-do .description h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.what-we-do .description p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 17px;
}
.photo{
    height: 600px;
    background-image: url("../images/photo1.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.text{
    max-width: 298px;
    margin-right: 62px;
}
.photo .text h4,
.photo-2 .text h4,
.photo-3 .text h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.photo .text p,
.photo-2 .text p,
.photo-3 .text p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.photo-2{
    height: 600px;
    background-image: url("../images/photo2.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.clients{
    padding-top: 120px;
    padding-bottom: 100px;
    background: #000000;
    text-align: center;
}
.clients h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.clients h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 42px;
}
.clients-logos{
    max-width: 1168px;
    justify-content: space-between;
    align-items: center;
    padding: 40px 46px;
}
.photo-3{
    height: 600px;
    background-image: url("../images/photo3.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.communication{
    padding-top: 113px;
    padding-bottom: 108px;
    background: #000000;
}
.communication .container{
    max-width: 600px;
    text-align: center;
}
.communication h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.communication h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 22px;
}
.btn{
    background: #FFFFFF;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: #000000;
    padding: 5px 10px 5px 4px;
    display: inline-flex;
    align-items: center;
}
.btn:before{
    display: inline-block;
    content: "";
    width: 32px;
    height: 32px;
    background-color: #000000;
    border-radius: 50%;
    margin-right: 6px;
}
footer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #000000;
}
footer .container{
    padding-bottom: 36px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    max-width: 1168px;
    margin: auto;
}
.logo{
    max-width: 440px;
}
.logo-text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
    margin-top: 20px;
}
.list{
    margin-right: 55px;
}
.list h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 10px;
}
.list ul,
.icons{
    list-style: none;
}
.list ul li{
    margin-bottom: 10px;
}
.list a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.form{
    width: 458px;
    height: 52px;
    background-color: #F9FAFB;
    border-radius: 12px;
}
.form input{
    width: 85%;
    height: 52px;
    background-color: transparent;
    border: none;
}
.form button{
    width: 15%;
    background-color: #000000;
    border-radius: 11px;
    cursor: pointer;
    margin: 11px 6px 11px 6px;
}
.social{
    padding-top: 56px;
    align-items: flex-end;
}
.text-copyright{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.icons li{
    margin-left: 20px;
}
.subscribe{
    padding-top: 36px;
    padding-bottom: 36px;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}
.subscribe-text{
    max-width: 280px;
}
.subscribe h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.subscribe p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}